/*General*/
* {
	margin: 0;
	padding: 0;
}

/* Right Click Menu  */
#ctxmenu {
      position: fixed;
      background: #1E90FF;
      color: black;
      cursor: pointer;
      border: 1px solid black;
      z-index: 9999999;
    }
    #ctxmenu > p {
      padding: 0 1rem;
      margin: 0;
    }
    #ctxmenu > p:hover {
      background: black;
      color: ghostwhite;
    } /* RCM Stop  */

/*
#ctxmenu {
      position: fixed;
      background: ghostwhite;
      color: black;
      cursor: pointer;
      border: 1px solid black;
    }
    #ctxmenu > p {
      padding: 0 1rem;
      margin: 0;
    }
    #ctxmenu > p:hover {
      background: black;
      color: ghostwhite;
    }*/
    

/*NAVBAR*/
#navbar {
	background-color: #1E90FF;
	width: auto;
	height: 65px;
}

#semver {
	position: absolute;
	right: 0%;
	top: 0%;
	font-size: 8px;
	margin: 0px 3px 0px 0px;
}

#nav-element {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 10px 10px;
	background-color: #78BE21;
	margin-left: 15px;
	transition: 2s;
}

#nav-element:hover {
	padding: 21px 20px 18px 20px;
	transition: 2s;
}

#nav-main-menu-element {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 5px 10px;
	background-color: #78BE21;
	margin-left: 15px;
	transition: 2s;
}

#nav-main-menu-element:hover {
	padding: 21px 20px 18px 20px;
	transition: 2s;
}


#navmenu {
	background-color: #1E90FF;
	width: 110px; /* 150px  */
	height: 200px;
	position: absolute;
	left: 0%;
	top: 6.5%;
	z-index: 1000;
}

#nav-menu-element {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 10px 10px;
	background-color: #78BE21;
	/*margin-left: 15px;*/
	transition: 2s;
}

#nav-menu-element:hover {
	padding: 18px 21px 18px 21px;
	transition: 2s;
}

/* Mobile Nav Bar  */
#nav-mobile-menu-element1 {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 5px 10px;
	background-color: #78BE21;
	margin-left: 15px;
	visibility: hidden;
}

#nav-mobile-menu-element {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 5px 10px;
	background-color: #78BE21;
	margin-left: 15px;
	
}

#navMobilemenu {
	
 	visibility: hidden;	
	
	/*background-color: #1E90FF;
	width: 170px; /* 150px  110px*/
	/*height: 200px;*/
	position: absolute;
	left: 0%;
	top: 6.5%;
	z-index: 99999; 
}


/*INDEX.PHP*/
#home-img {
	width: auto;
	height: 950px;
}

/*Images system styling*/
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 9999;
	display: none;
}

#overlay img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 90vh;
	max-width: 90vw;
	border: 2px solid #fff;
}

#overlay .close-button {
	position: absolute;
	top: 20px;
	left: 20px;
	cursor: pointer;
	color: #fff;
	background-color: black;
	padding-left: 10px;
	padding-right: 10px;
	border: 5px solid black;
	border-radius: 5px;
	font-size: 35px;
	z-index: 999;
	transition: 2s;
}

#overlay .close-button:hover {
	transition: 2s;
	color: #78BE21;	
	font-size: 45px;	
}

#overlay .instruction-text {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	color: #1E90FF;
	background-color: black;
	font-size: 16px;
	animation: fadeColors 3s infinite;
}

#overlay .description {
	position: absolute;
	bottom: 55px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: black;
	font-size: 16px;
	/*animation: fadeColors 3s infinite; */
}

@keyframes fadeColors {
	0%, 50% {
		color: #1E90FF;
	}
	50.1%, 100% {
		color: #78BE21;
	}
} 

.test {
	transition: 2s;
	width: 150px; 
	height: 80px;	
}

.test:hover {
	transition: 2s;
	width: 180px; 
	height: 110px;	
}

.arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	font-size: 45px;
	color: #fff;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	transition: 2s;
	z-index: 999;
}

.arrow.left {
	left: 20px;
}

.arrow:hover {
	transition: 2s;
		width: 70px;
		height: 70px;	
		color: #78BE21;
		font-size: 65px;
}

.arrow.right {
	right: 20px;
}

/*Big Screen*/

@media screen and (max-width: 3840px) { /*4K*/
	#home-img {
		width: auto;
		height: 2550px;
	}
}

@media screen and (max-width: 2160px) { /*2K*/
	#home-img {
		width: auto;
		height: 1430px;
	}
}

@media screen and (max-width: 1920px) { /*Normal*/
	#home-img {
		width: auto;
		height: 1270px;
	}
}

/*Laptops*/

@media screen and (max-width: 1440px) { /*screen 1*/
	#home-img {
		width: auto;
		height: 950px;
	}
}

@media screen and (max-width: 1439px) and (min-width: 1090px) { /*screen 2*/
	#home-img {
    	display:none;
		/*width: auto;
		height: 841px;*/
	}
}

/*Tablets*/

@media screen and (max-width: 1080px) { /*Biggest ipad screen in landscape*/

	/*Nav Bar*/
	#nav-element {
		transition: 0s;
	}

	#nav-element:hover {
		padding: 10px 10px 10px 10px;
		transition: 0s;
	}

	/*INDEX.PHP*/
	#home-img {
		width: auto;
		height: 710px;
	}

	/*Close button*/
	#overlay .close-button {
		transition: 0s;
	}

	#overlay .close-button:hover {
	transition: 0s;
	color: #fff;	
	font-size: 35px;	
	}

	/*Arrows*/
	.arrow {
		transition: 0s;
	}

	.arrow:hover {
		transition: 0s;
		width: 50px;
		height: 50px;	
		color: #fff;
		font-size: 45px;
	}

	/*Image norm & hover setup */
	.test {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	.test:hover {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	/*Computer Image Viewing Instructions*/
	#overlay .instruction-text {
		display: none;
	}
	
	#overlay .description {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: black;
	font-size: 16px;
	/*animation: fadeColors 3s infinite; */
	}
}


/*Phones*/

@media screen and (max-width: 896px) { /*Biggest iphone screen in landscape*/

	/*Nav Bar*/
	#nav-element {
		font-size: 14px;
		transition: 0s;
	}

	#nav-element:hover {
		padding: 10px 10px 10px 10px;
		transition: 0s;
	}

	/*INDEX.PHP*/
	#home-img {
		display: none;
	}

	/*Close button*/
	#overlay .close-button {
		transition: 0s;
	}

	#overlay .close-button:hover {
	transition: 0s;
	color: #fff;	
	font-size: 35px;	
	}

	/*Arrows*/
	.arrow {
		transition: 0s;
	}

	.arrow:hover {
		transition: 0s;
		width: 50px;
		height: 50px;	
		color: #fff;
		font-size: 45px;
	}

	/*Image norm & hover setup */
	.test {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	.test:hover {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	/*Computer Image Viewing Instructions*/
	#overlay .instruction-text {
		display: none;
	}
	
	#overlay .description {
	position: absolute;
	bottom: 55px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: black;
	font-size: 16px;
	/*animation: fadeColors 3s infinite; */
	}
}

@media  screen and (max-width: 414px) { /*Biggest iphone screen in protrait*/
	
	/*Nav Bar*/
	#nav-element {
		visibility: hidden;
	}
	
	#semver {
	position: absolute;
	right: 0%;
	top: 0%;
	font-size: 6px;
	margin: 0px 3px 0px 0px;
}

	#nav-element:hover {
		padding: 10px 10px 10px 10px;
		transition: 0s;
	}
	
	#nav-main-menu-element {
		visibility: hidden;	
	}
	
	/* Mobile Nav Bar  */
	
	#nav-mobile-menu-element1 {
		position: absolute;
		left: 43.1% ;
		top: 0.6% ;	
		z-index: 999999;
		visibility: visible;
	}
	
#nav-mobile-menu-element {
	margin: auto;
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	padding: 10px 10px 5px 10px;
	background-color: #78BE21;
	margin-right: 1px;
	
	
}

#nav-mobile-menu-element:hover {
	
}


#navMobilemenu {
	position: absolute;
	left: 31.0%;
	top: 2.6%;
	background-color: #1E90FF;
	width: 170px; /* 150px  */
	height: 235px;
	position: absolute;
	z-index: 9999999999;

}

	/*INDEX.PHP*/
	#home-img {
		display: none;
	}


	/*Close button*/
	#overlay .close-button {
		transition: 0s;
	}

	#overlay .close-button:hover {
	transition: 0s;
	color: #fff;	
	font-size: 35px;	
	}

	/*Arrows*/
	.arrow {
		transition: 0s;
	}

	.arrow:hover {
		transition: 0s;
		width: 50px;
		height: 50px;	
		color: #fff;
		font-size: 45px;
	}

	/*Image norm & hover setup */
	.test {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	.test:hover {
		transition: 0s;
		width: 150px; 
		height: 80px;	
	}

	/*Computer Image Viewing Instructions*/
	#overlay .instruction-text {
		display: none;
	}
	
	#overlay .description {
	position: absolute;
	bottom: 75px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	background-color: black;
	font-size: 16px;
	/*animation: fadeColors 3s infinite; */
	}
}



